<%- include ("../../partials/header") %>

<body class="bg-dark text-light">
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1>Sports Organising Committee</h1>
    <h1 class="text-center">Institute Sports Secretary</h1>
    <%- include ("./cardComponent/card") %>
    <div class="container">
      <h1 class="text-center">Representatives</h1>

      <div class="row">
        <%- include ("./cardComponent/card") %> <%- include
        ("./cardComponent/card") %> <%- include ("./cardComponent/card") %>
      </div>
    </div>
    <div class="container">
      <h1 class="text-center">SOC heads</h1>

      <div class="row">
        <%- include ("./cardComponent/card") %> <%- include
        ("./cardComponent/card") %>
      </div>
    </div>
    <div class="container">
      <h1 class="text-center">SOC Cores</h1>

      <div class="row">
        <%- include ("./cardComponent/card") %> <%- include
        ("./cardComponent/card") %> <%- include ("./cardComponent/card") %>
      </div>
      <div class="row">
        <%- include ("./cardComponent/card") %> <%- include
        ("./cardComponent/card") %> <%- include ("./cardComponent/card") %>
      </div>
      <div class="row">
        <%- include ("./cardComponent/card") %> <%- include
        ("./cardComponent/card") %> <%- include ("./cardComponent/card") %>
      </div>
      <div class="row">
        <%- include ("./cardComponent/card") %> <%- include
        ("./cardComponent/card") %>
      </div>
    </div>
  </div>

  <%- include ("../../partials/footer") %> <%- include
  ("../../partials/scrollTop") %>
</body>
